/* ===========================================================
   Global Fonts
=========================================================== */

.averia-serif-libre-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-serif-libre-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-serif-libre-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}

.suse-400 {
  font-family: "SUSE Mono", monospace;
  font-weight: 400;
}

.suse-500 {
  font-family: "SUSE Mono", monospace;
  font-weight: 500;
}

.suse-600 {
  font-family: "SUSE Mono", monospace;
  font-weight: 600;
}

.suse-700 {
  font-family: "SUSE Mono", monospace;
  font-weight: 700;
}

.cascadia-400 {
  font-family: "Cascadia Mono", monospace;
  font-weight: 400;
}

.cascadia-500 {
  font-family: "Cascadia Mono", monospace;
  font-weight: 500;
}

.cascadia-600 {
  font-family: "Cascadia Mono", monospace;
  font-weight: 600;
}

.cascadia-700 {
  font-family: "Cascadia Mono", monospace;
  font-weight: 700;
}

/* ===========================================================
   Global
=========================================================== */

:root {
  
  --margin-y: 1.5rem;
  --margin-x: 1.5rem;
  --space-y: 0.5rem;
  --space-x: 1.5rem;

  --nav-radius: 16px;
  --img-radius: 8px;

  --bg-nav: #EBEBE5DC;
  --bg-player: #D7D6CCDC;
  --brand-color: #528167;
}

html {
  /* height: 100%; */
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-nav);
}

main {
  flex: 1;
  height: 100%;  
}

.container,
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* ===========================================================
   Navbar
=========================================================== */

.navbar {
  margin: 0 var(--margin-x) 0;
  padding: var(--space-y) var(--space-x);
  border: none;
  border-radius: 0 0 var(--nav-radius) var(--nav-radius);
  font-family: "Averia Serif Libre", serif;
  font-style: italic;
  font-weight: 400;
  overflow: hidden;
  background-color: var(--bg-nav);
}


/* --- Wrapper + Brand --- */

.brand-toggle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 0;
}

.navbar-brand {
  font-weight: 700;
  color: #000;
  font-size: clamp(1.5rem, 5vw, 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: font-size 0.3s ease, color 0.2s ease;
}

.navbar-brand:hover {
  color: var(--brand-color);
}

@media (max-width: 576px) {
  .navbar-brand {
    flex-shrink: 1;
  }
}

/* --- Toggler--- */

.navbar-toggler {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #000;
  display: none; /* default hidden on desktop */
}

.navbar-toggler-icon {
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}

@media (max-width: 576px) {
  .navbar-toggler {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
  }
}

/* --- Nav items --- */

.navbar-nav {
  display: flex;
  font-weight: 300;
  font-size: clamp(1rem, 2vw, 20px);
}

.navbar-nav .nav-link {
  color: #000;
  transition: color 0.2s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--brand-color);
}


@media (max-width: 576px) {
  .navbar-collapse {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.15rem;
    text-align: center;
  }

  .navbar-nav .nav-link {
    padding: 0.25rem 0 !important;
    line-height: 1;
  }
}


/* ===========================================================
   Main Content
=========================================================== */

main h1 {
  font-family: "Averia Serif Libre", serif;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 400;
  margin-bottom: 1.25rem;
}

main h2 {
  font-family: "Averia Serif Libre", serif;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 400;
  margin-bottom: 1.25rem;
}

main h3 {
  font-family: "Averia Serif Libre", serif;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1.25rem;
}

main p {
  font-family: "SUSE Mono", monospace;
  font-size: clamp(.5rem, 2vw, 14px);
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}


/* ===========================================================
   Mix Section
=========================================================== */

.mix-section {
  margin: var(--margin-y) var(--margin-x);
}

.mix-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 1140px) {
  .mix-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
}

.mix-image {
  flex: 2 0 auto;
}

.mix-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--img-radius);
}

@media (min-width: 1140px) {
  .mix-image {
    max-width: 550px;
  }
}

@media (max-width: 1140px) {
  .mix-image {
    display: flex;
    flex: 0 0 auto;
  }

  .mix-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--img-radius);
  }
}

.mix-text {
  text-align: left;
  padding: 0.75rem;
}

@media (min-width: 1140px) {
  .mix-text {
    flex: 1 2 auto;
    max-width: 750px;
    max-height: 550px;
    overflow: auto;
  }
}

@media (max-width: 1140px) {
  .mix-text {
    flex: 0 0 auto;
    width: 100%;
    min-width: 0;
    max-height: 600px;
    overflow-x: auto;
    overflow-y: auto;
  }
}

.mix-text p {
  white-space: nowrap;
  transition: font-size 0.3s ease;
}

.mix-text::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.mix-text::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.mix-text::-webkit-scrollbar-thumb {
  background: #52816740;
  width: 6px;
  border-radius: 6px;
}

.mix-text::-webkit-scrollbar-thumb:hover {
  background: #52816760;
}

/* Image hover overlay */
.mix-image-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: var(--img-radius);
}

.mix-title-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  text-align: right;
  width: 100%;
  background: #52816760;
  color: #000;
  z-index: 2;
  cursor: pointer; 
}

.mix-title-overlay:hover {
  background: #528167AA;
}

.mix-title-overlay a {
  display: block; 
  align-items: center;   
  padding: var(--space-x) var(--space-x);
  text-decoration: none;
  color: inherit;
}

.mix-title-overlay h3 {
  font-weight: 700;
  margin: 0;
}

.mix-title-overlay:hover h3 {
  text-decoration: underline;
}

.mix-image-wrap img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-overlay .overlay-play-icon {
  width: 40%;
  height: auto;
  max-width: 150px;
  color: #000;
}

.mix-audio-control-zone:hover {
  cursor: url('/icons/ladle.svg') 6 0, auto;
}

.mix-audio-control-zone:hover img {
  transform: scale(1.05);
}

.mix-audio-control-zone:hover .image-overlay {
  opacity: 1;
  transform: scale(1);
}

.mix-audio-control-zone.active-mix img {
  filter: brightness(0.6);
  transform: scale(1.05);
  opacity: 1;
}

.mix-audio-control-zone.active-mix .image-overlay {
  opacity: 1;          /* show overlay even without hover */
}

.mix-audio-control-zone.active-mix .overlay-play-icon {
  opacity: 1;          /* ensure visible icon */
  color: var(--brand-color);
}


/* ===========================================================
   Section divider
=========================================================== */

.zig-zag-line {
  --a: 90deg; /* control the angle */
  --s: 100px; /* size of the zig-zag */
  --b: 35px;  /* control the thickness */
  
  background: #ff6169;
  height: calc(var(--b) + var(--s)/(2*tan(var(--a)/2)));
  width: 100%;
  --_g:var(--s) repeat-x conic-gradient(from calc(var(--a)/-2) at bottom,
    #0000,#000 1deg calc(var(--a) - 1deg),#0000 var(--a));
  mask: 50% calc(-1*var(--b))/var(--_g) exclude,50%/var(--_g);
}

/* ===========================================================
   Mixpages
=========================================================== */

.mixpage-section {
  margin: var(--margin-y) var(--margin-x);
}

.mixpage-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 1140px) {
  .mixpage-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
}

.mixpage-image {
  flex: 2 0 auto;
}

.mixpage-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--img-radius);
}

@media (min-width: 1140px) {
  .mixpage-image {
    max-width: 550px;
  }
}

@media (max-width: 1140px) {
  .mixpage-image {
    display: flex;
    flex: 0 0 auto;
  }

  .mixpage-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--img-radius);
  }
}

.mixpage-text {
  text-align: left;
  padding: 0.75rem;
}

@media (min-width: 1140px) {
  .mixpage-text {
    flex: 1 2 auto;
    max-width: 750px;
    max-height: 550px;
    overflow: auto;
  }
}

@media (max-width: 1140px) {
  .mixpage-text {
    flex: 0 0 auto;
    width: 100%;
    min-width: 0;
    max-height: 600px;
    overflow-x: auto;
    overflow-y: auto;
  }
}

.mixpage-text p {
  white-space: nowrap;
  transition: font-size 0.3s ease;
}

.mixpage-text::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.mixpage-text::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.mixpage-text::-webkit-scrollbar-thumb {
  background: #52816740;
  width: 6px;
  border-radius: 6px;
}

.mixpage-text::-webkit-scrollbar-thumb:hover {
  background: #52816760;
}

/* Image hover overlay */
.mixpage-image-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border-radius: var(--img-radius);
}

.mixpage-title-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  text-align: right;
  width: 100%;
  background: #52816760;
  color: #000;
  z-index: 2;
  cursor: pointer; 
}

.mixpage-title-overlay:hover {
  background: #528167AA;
}

.mixpage-title-overlay a {
  display: block; 
  align-items: center;   
  padding: var(--space-x) var(--space-x);
  text-decoration: none;
  color: inherit;
}

.mixpage-title-overlay h3 {
  font-weight: 700;
  margin: 0;
}

.mixpage-title-overlay:hover h3 {
  text-decoration: underline;
}

.mixpage-image-wrap img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.mixpage-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mixpage-image-overlay .overlay-play-icon {
  width: 40%;
  height: auto;
  max-width: 150px;
}

.mixpage-audio-control-zone:hover {
  cursor: url('/icons/ladle.svg') 6 0, auto;
}

.mixpage-audio-control-zone:hover .image-overlay {
  opacity: 1;
  transform: scale(1);
}

.mixpage-audio-control-zone:hover img {
  transform: scale(1.05);
}

.mixpage-audio-control-zone.active-mix img {
  filter: brightness(0.9);
}

.mixpage-audio-control-zone:hover .image-overlay {
  opacity: 1;
}

/* ===========================================================
   Footer Player
=========================================================== */

#footer-player {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 var(--margin-x) 0;
  z-index: 1030;
}

/* Player container */
#player-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* vertical alignment */
  align-items: center; /* horizontal alignment */
  width: 100%;
  background-color: var(--bg-player);
  padding: var(--space-y) var(--space-x);
  border-top-left-radius: var(--nav-radius);
  border-top-right-radius: var(--nav-radius);
  overflow: hidden;
}

/* Current track info */
#playing-details {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* margin-top: 0.5rem; */
}

#current-track {
  color: #000000;
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(.75rem, 2vw, 16px);
  line-height: normal;
  text-align: flex-end;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#current-track .mix-title {
  color: var(--brand-color);
}

/* Player controls */
.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  gap: 0.5rem;
}

/* Play/pause button */
#play-btn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-btn svg {
  color: #000000;
  width: 30px;
  height: 30px;
}

@media (max-width: 576px) {
  #play-btn svg {
    width: 24px;
    height: 24px;
  }
}

/* Time display */
#elapsed-time,
#total-time {
  color: #000000;
  font-size: 0.9rem;
  width: 40px;
  /* consistent width so layout doesn’t shift */
  text-align: center;
}

/* Progress bar */
.progress-wrapper {
  flex-grow: 1;
  height: 6px;
  background: #333;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.progress-wrapper.dragging {
  cursor: pointer;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: #528167;
  border-radius: 3px 0 0 3px;
}

/* Download / Format buttons */
.download-btn {
  width: 24px;
  height: 24px;
  border: none;
  background: url('/icons/download.svg') no-repeat center center;
  background-size: contain;
}

@media (max-width: 960px) {
  .download-btn {
  display: none;
  }
}

.format-btn {
  font-family: "Averia Serif Libre", serif;
  font-size: 0.9rem;
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  padding: 4px 8px;
}

.format-btn:hover {
  text-decoration: underline;
}

.format-btn:disabled {
  opacity: 0.4;
  text-decoration: none;
  filter: grayscale(100%);
}

@media (max-width: 960px) {
  .format-btn {
    display: none;
  }
}

